<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
        <table class="table table-striped">
            <td>
                <tr>
                    <td> <img src= {{currentProduct.image}} class="rounded float-left" width="100px" height="150px" alt="No Image for this product."> </td>
                </tr>
            </td>
            <td>
                <tr>
                    <td>Product Title</td>
                    <td>{{currentProduct.title}}</td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>{{currentProduct.description}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>{{currentProduct.price}}</td>
                  </tr>
                  <tr>
                    <td>Category</td>
                    <td>{{currentProduct.category}}</td>
                  </tr>
            </td>
        </table>
        <br>
      </div>
    </div>
  </div>
